{% extends 'base.html' %}
{% load static %}

{% block prince %}
<!---------------------- carousel start---------------->
<div class="row p-0;">
  <div class="co-sm-12 bg-light px-0" style="min-height:100px;">

       <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/2taj.jpg' %}" class="d-block w-100" alt="..">
      <div class="carousel-caption d-none d-md-block">
        <h5>Definition of Tourism</h5>
        <p style="text-aglin:justify;color:white;">Tourism is a social, cultural and economic phenomenon which entails the movement of people
            to countries or places outside their usual environment for personal or business/professional
            purposes. These people are called visitors (which may be either tourists or excursionists;
            residents or non-residents) and tourism has to do with their activities, some of which
            imply tourism expenditure (United Nations World Tourism Organization, 2008).</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/slider2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slide3.jpg' %}" class="d-block w-100" alt="..">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  </div>

</div>



      <!----------------------- carousel end --------------------------->
       <div class="row py-1 text-center"style="min-height:30px; background-color:#0000ff;margin-top:30px;">
         <h3 style="color:white;">Categorie of cities</h3>
       </div>
        <div class="row py-3 polo" >
         <div class="col-sm-12" style="min-height:10px;background:#ffffff;" ></div>
       </div>
<!----------------------------category---(cities)--------------------->
<div class="row">
  <div class="col-sm-12 bg-light polo " style="min-height:200px;">
    <!--------------->
    <div class="row  category mt-2">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          {% if city %}
          {% for x in city %}
          <div class="col-sm-2">
            <div class="card w-100">
              <img src="/{{x.cpic}}" class="img-thumbnail"  class="card-img-top" alt="..">
              <div class="card-body">


               <a href="/user/newplaces?abc={{x.id}}"
                                      class="btn btn-outline-primary text-dark "
                  style="height:30px;padding-bottom:30px;margin-left:20px;width:90px;">{{x.cname}}</a></center>

              </div>

            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>

      </div>
      <div class="col-sm-1"></div>

    </div>
    <!--------------->

  </div>
</div>



<!----------------------end------category--(end)---------------------->

<!------------------------------------------------------->
<div class="row">
  <div class="col-sm-12 " style="min-height:200px;background:#ffffff;">
    <!------------------start-------->
    </br>
   <div class="row text-center" style="font-size:20px;"><h3 style="color:#0066ff;">
       <b>TRENDING DESTINATIONS 2021 <span style="color: black;">OF CITIES  </span></b></h3>
  <h6>MX is Best tourist Company & Exit as professionals</h6></div>
    <div class="row">
      {% if place %}
      {% for x in place %}
      <div class="col-sm-3 mt-5 h-100">
        <div class="card w-100 h-100">
          <img src="/{{x.placepic}}" class="img-thumbnail" class="card-img-top" alt="...">
          <div class="car-body">
            <h4 class="card-title ps-3 fs-5">{{x.ptitle}}</h4>
            <p class="card-text ps-3 ">{{x.baplace}}</p>
            <span style=".."><i class="fa fa-map-marker ps-2"></i> {{x.city}} || {{x.pdate}}</span><br/>
            <a href="/user/viewdetails?msg={{x.id}}"
               class="btn btn-outline-danger my-3 mx-2
"style="">views more</a>
          </div>
        </div>
      </div>

      {% endfor %}
      {% endif %}

    </div>

    <!-------------end------->
  </div>
</div>


<!-------------------/////----------sachin-------------------------->




    <!----------------------------guider--------------------->
<div class="row mt-5" style="min-height:200px;">
  <div class="col-sm-12 bg-light mt-5" style="min-height:200px;">
    <h2 class=" text-center"><span style="color:blue;">Tourism</span> <span style="color:navy">Details</span></h2>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 offer my-5 text-primary">
        <div class="row">
            <div class="col-sm-4 card1">
                <b>01.</b>
                <div class="fs-3">Definition of Tourism</div>
                <p style="text-align:justify; color:black">Tourism is a social, cultural and economic phenomenon
                    which entails the movement of people to countries or places outside their usual
                    environment for personalo or business/professional purposes.These people are called
                    visitors (which may be either tourists or excursionists; residents or non-residents)
                    and tourism has to do with their activities, some of which imply tourism expenditure
                    (United Nations World Tourism Organization, 2008) .</p>
                <b>02.</b>
                <div class="fs-3">Tour Guide Requirements</div>
                <p style="text-align:justify;color:black;">Most tour guide jobs involve physical activity, with a great deal of time spent walking
                    or standing. Other jobs may require additional skills, such as driving (including coach/bus
                    driving, which requires a CDL), boating, or hiking. Good interpersonal communication skills are also essential,
                    including the ability to address a large group of people comfortably and confidently.Greet all guests promptly at scheduled tour times
                        Outline the tour and timeline before beginning</p>

            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/tree.jpeg' %}" style="height:100%;widt:100%" class="img-fluid text-center"/>
            </div>
            <div class="col-sm-4">
                <b>03.</b>
                <div class="fs-3">Tour Guide Education and Training</div>
                <p style="text-align:justify;color:black;">For most tour guide jobs, a high school diploma is a minimum qualification,
                    though some positions may require an undergraduate or even a graduate degree. For example, if you're
                    interested in a museum tour guide job, it may be preferable to have a college degree in a subject
                    related to the museum.
                    in the future..</p>
                <b>04.</b>
                <div class="fs-3"> Toure Guider Qualifications</div>
                <p style="text-align:justify;color:black;">
                <p STYLE="color:black;">High school diploma or equivalent; associate or bachelor’s degree is a plus</p>
                <p STYLE="color:black;">Significant work experience in customer service preferred</p>
                <p STYLE="color:black;">Able to memorize and recite facts clearly and accurately</p>
                <p STYLE="color:black;">Basic computer skills, including email and word processing</p>
                <p STYLE="color:black;">Exceptional communication skills</p>

            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
  </div>
</div>




<!------ end content bar--------->
  <!---------------------------pic contente------------------------------>
      <div class="row mt-5">
      <div class= "col-sm-3"><img src="{% static 'images/thetaj.webp'%}" style="height:200px;"></div>
      <div class="col-sm-9">
        <h3>Tajmahal</h3>
          <i class="fa fa-map-marker"></i>  Agara
          <p style="text-align:justify;"> While the curve and-arch profile of clean white marble has ended up notable,
              different marvels lie in the Taj Mahal's intrinsic subtle elements; inlaid
              semi-precious stones and carvings and Quranic verses in calligraphy make a
              captivating interior décor where ShahJahan came to visit his wife’s remains,
              before he was, in time, buried next to her
           The Taj Mahal's recognizable marble arches are surrounded by four minarets from which
              Muslims are called to petition to God. Each one of the minarets is planned
              with a slight outward inclination, probably to secure the principle sepulcher
              in the event that one of them crumbles or gets destroyed.
            Two red sandstone structures flank the primary catacomb on either side – one, toward the west,
              is a mosque. The other is a former guesthouse.
            These structures are set within rich patio nurseries, complete with a tremendously long
              reflecting pool that consistently does what no human has ever possessed the capacity
              </p>
      </div>
      </div>

          <div class="row mt-5">
      <div class= "col-sm-9">
          <h3>Getway of India</h3>

                <p style="text-align:justify;"> India's most unique
              landmarks situated in the city of Mumbai. The colossal structure was
              constructed in 1924. Located at the tip of Apollo Bunder, the gateway
              overlooks the Mumbai harbor, bordered by the Arabian Sea in the Colaba
              district. The Gateway of India is a monument that marks India's chief
              ports and is a major tourist attraction for visitors who arrive in India
              for the first time. At one point of time, this monument represented the
              grandeur of the British Raj in India. The total construction cost of this
              monument was approximately 21 lakhs and the whole expense was borne by the
              Indian government. A favourite spot for tourists, nowadays, this monument
              attracts vendors, food stalls and photographers. The passing of the 'First
              Battalion of the Somerset Light Infantry' was recorded as the first main e
              vent that took place at the Gateway of India. This ceremony was conducted on
              February 28, 1948, when the last set of British troops and divisions left India,
</p>
          </div>
      <div class="col-sm-3" >
    <img src="{% static 'images/mubaiget.jpg'%}" style="height:200px;">
      </div>
      </div>


         <div class="row mt-5">
      <div class= "col-sm-3"><img src="{% static 'images/act.jpg'%}" style="height:200px;width:100%"></div>
      <div class="col-sm-9">
        <h3>Aksha-Radha</h3>
          <p style="text-align:justify;">Akshardham Temple in New Delhi, Swaminarayan Akshardham Temple is a famous temple
              of India which is located in New Delhi. Akshardham Temple was opened in the year 2005,
              which is dedicated to “Lord Swaminarayan”. It was inaugurated by president of India late Dr. A.P.J. Abdul Kalam.
Akshardham Temple is situated on the banks of River Yamuna and reflects Hinduism and ancient culture.
              The most special thing about this temple is that this temple has made its place in the
              Guinness Book of World Records as the world’s largest comprehensive Hindu temple.</p>
      </div>
      </div>


      <div class="row bg-dark mt-5">
          <div class="col-sm-3 bg-light"><img src="{% static 'images/aa.jpg'%}" style="height:200px;width:100%;">
              <h3 style=";padding-top:10px;">Toure of <span style="color:blue;">Dubai</span></h3>
         <p style="text-align:justify;">Dubai is the most populous city in the United Arab Emirates (UAE) and
              the capital of the Emirate of Dubai. Established in the 18th century as a small fishing village,
              the city grew rapidly in the early 21st century into a cosmopolitan metropolis with a focus on
              tourism and hospitality. Dubai is one of the world's most
              popular tourist destinations with the second most five-star hotels in the world, and the tallest
              building in the world,01/10/2021 · Dubai and other emirates sign a deal to form the United Arab Emirates
              (UAE) on 2 December, 1971. This date is marked each year as the UAE's National Day. 1979. Dubai World Trade …</p>
          </div>
       <div class="col-sm-6 bg-light"><img src="{% static 'images/map.jpg'%}" style="height:600px;width:100%;">

          </div>
             <div class="col-sm-3 bg-light"><img src="{% static 'images/city.jpg'%}" style="min-height:100px;width:100%;">
         <h3 style=";padding-top:10px;">Toure of <span style="color:blue;">Mumbai Stadium</span></h3>
                 <i class="fa fa-map-marker"></i> Mumbai
          <p style="text-align:justify;">Nainital (Kumaoni: Naintāl; pronounced [nɛnːtaːl]) is a popular hill
              station of India. It is the judicial capital of Uttarakhand, the High Court of the state being located there, and is the headquarters of the Kumaon division as well as an eponymous district. It also houses
              the Governor of Uttarakhand, who resides in the Raj Bhavan. Nainital was the summer capital of the United Provinces.</p>
          Nainital Tourism
Nainital is a charming hill station
                ill station in North India. Nainital is a perfect weekend getaway from Delhi and the nearby places.
es, shop for mementoes, leave an imprint on you.


             </div>

  </div>
      <!--------------------------------------------end ------------------------------------------------->
      <!--------------------------------------------end ------------------------------------------------->
<marquee behavior="scroll" direction="left" onmousedown="this.stop();"
         onmouse="this.start();">ABOUT ME</marquee>







<!------------------------------------------------------------------------------------------------------------------->


{% endblock %}
