{% extends 'base.html' %}

{% load static %}
{% block prince %}

<div class="row py-2">
<div class="col-sm-12" style="background:light;">
<div class="row">
    <div class="col-sm-4" style="min-height:300px;">
        <img src="{% static 'images/a.jpg'%}" style="height:100%;width:100%">
    </div>
    <div class="col-sm-1 bg-light "></div>
    <div class="col-sm-7 bg-light " style="min-height:300px;">
        <h3 class="text-center py-3 "><u style="color:orange;">ABOUT <span style="color:navy;">US</span></u></h3>
<h3>‘Max tourism’</h3>
        <p style="text-align:justify;">Since 1975, ‘Organization Name’ has been focused on bringing our customers the best in esteem and quality travel game plans. We are enthusiastic about movement and sharing the world’s marvels on the relaxation travel side,
            and giving corporate explorers hello there contact administrations to encourage their business travel needs.</p>
        <p style="text-align:justify;">We’re a worker claimed travel organization secured by our qualities, trustworthiness and commitment to client benefit. Our honor winning organization reliably positions as a standout amongst other offices in the nation (Travel Weekly, Business Travel Weekly), and is a best individual
            from the renowned Signature Travel Network, an overall association enabling us to give our clients unmatched advantages.</p>
    <p style="text-align:justify;">Since 2009, our solid organization culture and enthusiasm for our calling has brought about our being named every year as one of the “Best Places To Work” in Los Angeles County. Our administration is dynamic on different tourism warning sheets and panels for movement associations, travel magazines (Afar, Travel+Leisure), real inn brands, and that’s only the tip of the iceberg. ‘Organization Name’ is a Premium Member of ASTA
        (American Society of Travel Advisors), and also an ASTA Green Member office, and CLIA (Cruise Line International Association).</p>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------->
    <div class="row">
        <div class="col-sm-12 bg-light" style="min-height:200px;"></div>
    </div>

</div>
</div>

{% endblock %}
